/* Body Styling */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

nav {
  background-color: #fcfcfc;
  box-shadow: 3px 3px 5px rgb(0, 0, 0.1);

}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
}
nav a:hover {
  background-color: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.munu-button {
display: none;
}
@media(max-width:800px){
  .hideonmobile{
    display: none;
  }
  .munu-button {
    display: block;
  }
}

@media(max-width:400px){
  .sidebar{
    width: 100%;
  }
}

/* Header Bar */
.header {
    height: 27vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-color: #666;
    background-blend-mode: multiply;
    font-weight: bolder;
}

.header-container {
    width: 50%;
    padding: 20px 0px;
    color: white;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 70px;
}

.header-container h1 {
    font-weight: bold;
    font-size: clamp(18px,4vw,50px);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.header-link {
    padding-top: 25px;
}

.header-link a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    transition: color ease-in-out 0.5s;
}

.header-link a:hover {
    color: #e1e1e1;
}

/* Search Bar */
.search-box {
    width: 50%;
    margin: 0px auto;
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
    box-shadow: 1px 2px #a1a1a1;
    display: flex;
    flex-direction: row;
}

.search-box select {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: white;
}

.search-box input {
    margin: 0px;
    width: 90%;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 4px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.search-box button {
    margin: 0px;
    width: 9%;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: white;
}

@media(max-width:400px){
  .search-box{
    width: 80%;
  }
}

/* Main Container */
.main {
    background-color: #e1e1e1;
    padding: 40px;
    min-height: 63vh;
}

/* Watermark Area / Start Exploring Section */
.start-exploring {
    color: #b1b1b1;
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding-top: 100px;
}

.start-exploring span {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
}

/* Movie Container */
.movie-container {
    width: 50%;
    background-color: white;
    padding: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 1px 2px #a1a1a1;
}

.movie-poster {
    width: 50%;
}

.movie-poster img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-details {
    width: 100%;
    padding: 0px 10px 0px 20px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.details-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dh-ls {
    width: 87%;
}

.dh-rs {
    text-align: right;
    width: 10%;
    padding: 5px 0px 0px 0px;
}

.details-header h1 {
    padding-bottom: 0px;
}

.italics-text {
    font-size: 15px;
    color: #555;
}

.details-ul {
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
    margin-top: 10px;
}

/* Favourite Items Container */
.fav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 53%;
    padding: 10px;
    margin: 0px auto;
}

.fav-item {
    box-shadow: 1px 2px #a1a1a1;
    margin: 0px 5px 25px 5px;
    width: 28%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

.fav-item a {
    text-decoration: none;
    color: inherit;
}

.fav-poster img {
    width: 100%;
    border-radius: 4px;
}

.fav-details-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 5px 0px;
}

.fav-movie-name {
    color: black;
    font-size: 15px;
    margin-bottom: 0rem;
}

.fav-movie-rating {
    color: #888;
    font-style: italic;
    font-size: 13px;
    margin-bottom: 0rem;
}

footer {
  margin-top: auto;
  position: relative;
  background: #3f4452;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}

.link-boxes .input-box textarea {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #3824d2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #2e2748;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
}